{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <form class="w-50 my-5 mx-auto" method="post" action="{% url 'aboutpage' %}">
      {% csrf_token %}
      <h2>Movie Rating Form</h2>

      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name="username" />
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" />
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="select">
          <option selected>Open this select menu</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% comment %} <h3>Name: {{ name }}</h3>
    <h3>Email: {{ email }}</h3> {% endcomment %}
  </div>
{% endblock %}
