{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Edit Profile</h1>

<div>
    <form method="post" novalidate>
        {% csrf_token %}
        <!--{{ form|crispy }}-->
        <!-- Non Feilds Error -->
        {% if form.non_field_errors %}
        {% for err in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ err }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% for field in form %}
        {{field.label_tag}}
        {{field}}
        {{field.errors}}
        {% endfor %}
        <button class="btn btn-warning my-2" type="submit">Update</button>
    </form>
    <a class="my-2 btn btn-danger" href="{% url "change_pass" %}">Change Password</a>
</div>
{% endblock content %}