{% extends 'base.html' %}
{% block content %}
  <div class="py-3">
    <div class="row">
      {% for post in data %}
        <div class="col-sm-3 my-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content|truncatewords:50 }}</p>
              <h6 class="card-subtitle mb-2 text-muted">Author : {{ post.author.name }}</h6>
              <p>
                Category :{% for cat in post.category.all %}
                  <button class="btn btn-secondary rounded-pill m-1">{{ cat }}</button>
                {% endfor %}
              </p>
              <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
              <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
