{% extends 'base.html' %}
{% block content %}
  <h1>This Is First App Home page</h1>
  {% if data %}
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Roll</th>
          <th scope="col">Student Name</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for stu in data %}
          <tr>
            <td>{{ stu.roll }}</td>
            <td>{{ stu.name }}</td>
            <td>{{ stu.father_name }}</td>
            <td>{{ stu.address }}</td>
            <td>
              <a href="{% url 'delete_student' stu.roll %}" class="btn btn-danger text-white">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>No data Available</h3>
  {% endif %}
{% endblock %}
